{% extends "base_side.html" %} {% block start %}


<div class="container mt-5" >
  <form
    class="col-6 mx-auto card p-3 shadow-1g"
    method="POST"
    enctype="multipart/form-data"
    style="background-color: rgb(236, 160, 236);"
  >
    {% csrf_token %}
    <h2>Add Product</h2>
    <hr />
    {% if messages %}
    <div class="alert alert-primary" role="alert" >
      {% for message in messages %}
      {{ message }}
      {% endfor %}
        </div>
    {% endif %}
    <div class="mb-3">
      <label for="product_name" class="form-label">Product name</label>
      <input name="product_name"value={{product.product_name}} required type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="product_des" class="form-label">Product Description</label>
      <textarea name="product_des" class="form-control">{{product.product_name}}</textarea>
    </div>
    <div class="mb-3">
        <label for="product_quantity" class="form-label">Product Quantity</label>
        <input name="product_quantity" value="{{product.product_quantity}}" required type="number" class="form-control" />    </div>
    <div class="mb-3">
        <label for="room" class="form-label">Room</label>
        <select name="room"  class="form-control">
            <option value="">Select a Room</option>
            {% for room in rooms %}
                <option value="{{ room.pk }}">{{ room.room_no }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="category" class="form-control">
            <option value="">Select a Category</option>
            {% for category in categories %}
                <option value="{{ category.pk }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
  <hr />
</div>
{% endblock %}
