{% extends "base_side.html" %} {% block start %}


<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-1g"
    method="POST"
    enctype="multipart/form-data"
    style="background-color: rgb(236, 160, 236);"

  >
    {% csrf_token %}
    <h2>Update Room</h2>
    <hr />
    
    {% if messages %}
    <div class="alert alert-primary" role="alert">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
        </div>
    {% endif %}
    <div class="mb-3">
      <label for="room_no" class="form-label">Room no</label>
      <input name="room_no"value={{room.room_no}} required type="text" class="form-control" />
    </div>
   
    
    <button type="submit" class="btn btn-primary">Update Room</button>
  </form>
  <hr />
</div>
{% endblock %}
